body{
    background-color: #9dc6fc;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.holder{
    background-color: #9eb7fc;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
}
label{
    display: block;
    margin-bottom: 5px;
   color:#555
}
.inputbox{
    margin-bottom: 15px;
}
input[type="text"]{
    width:calc(100%-22px);
    border: 1px solid #b1def8;
    border-radius: 5px;
    padding: 10px;
}
button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #acdbf7;
    color: #555252;
    font-size: 16px;
}
.btn{
    display:flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
button:hover{
    background-color: #96c6fd;
    color: rgb(173,152, 192);
    cursor: pointer;
}